.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-button {
  width: 50px;
  height: 50px;
  background-color: #544f4f;
  color:#544f4f;
  cursor: pointer;
  outline: none;
}

.grid-button:focus {
  outline: none;
}

.grid-button.active {
  background-color: rgb(59, 164, 76);
  outline: none;
}
